<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h1>Welcome</h1>
<%= button_to "Login", '/login', method: :get%>
<br>
<br>
<%= button_to "Sign Up", '/users/new', method: :get%>