<h5> Thank you for purchsing a
<%= "#{@instrument.year_made}" " #{@instrument.make}" " #{@instrument.name}" " #{@instrument.model}" " in " "#{@instrument.color}" "!!"%><h5>
<h5> If you'd like to continue shopping, please click "continue shopping"</h5>
  <%= link_to "Continue Shopping", instruments_path %>
<br>
<br>
<br>
<br>
  <%= link_to "Log Out", logout_path %>
