<h1>Thank you <%= "#{@customer.name}!" %> </h1>
<h2>Please click "continue" to see the inventory</h2>
<%= link_to "Inventory", customer_instruments_path(:id) %>
<br>
<br>
<br>
<br>
<%= link_to "Log Out", logout_path %>
