<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>


<h1>Thank you <%= "#{@customer.name}!" %> </h1>
<h2>Please click "continue" to see the inventory</h2>
<%= link_to "Continue", instruments_path %>
<br>
<br>
<br>
<br>
<%= link_to "Log Out", logout_path %>
