<h1>Music_Stores Index Page</h1>

<h1>Welcome to GIT YOUR GEETS Independent MusicStore</h1>
<h3>Wanna GIT A GEET?</h3>
<h4>Please, SignIn!</h4>
<%= form_tag "/signin" do %>
   <%= submit_tag "SignIn"%>
<% end %>
<br>
