<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>

<h1>Welcome to the Independent MusicStore Network</h1>
<h3>Where we specialize in vintage & fine guitars & basses</h3>

<h3>Wanna GIT A GEET?</h3>
<br>
<h4>Returning Customers, Please SignIn</h4>
<h4><%= link_to "Sign In", signin_path %></h4>
<br>
<h4>New Customers, SignUp</h4>
<h4><%= link_to "Sign Up", new_customer_path %></h4>
